@import './../../styles/variables.scss';

.introContainer {
  z-index: 1;
  background: $background;
  // min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $font;
}

h1 {
  margin: 0;
}
.intro {
  margin-left: 240px;
  color: $font;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}
.subTitle {
  color: $font;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.title {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  font-weight: 900;
}
.designContainer {
  position: relative;

  .design {
    font-size: 18rem;
    line-height: 20rem;
    margin-left: -1rem;
  }
  .uxui {
    position: absolute;
    top: 0;
    right: 0;
    span {
      margin-top: 4px;
    }
  }
}

.programmingContainer {
  position: relative;
  .program {
    font-size: 9rem;
    text-shadow: 6px 6px 0 $font;
    line-height: 9rem;
    margin-left: 3rem;
  }
  .frontend {
    position: absolute;
    top: -3rem;
    right: 12rem;
  }
  .description {
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 500px;
    margin-top: 30px;
  }
  .croissant {
    margin-top: 30px;
    font-size: 5rem;
    text-shadow: 4px 4px 0 $font;
    font-weight: 900;
    margin-left: 600px;
  }
}

.reverse {
  font-weight: 900;
  color: $background;
  -webkit-text-stroke: 2px rgba($color: $font, $alpha: 0.8);
  text-shadow: 8px 8px 0 $font;
}

.bubble {
  width: 75px;
  height: 75px;
  border-radius: 60px;
  border: solid 2px $font;
  margin: 30px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.croissant {
  font-size: 4rem;
}
.footer {
  margin-top: 30px;
  margin-left: 400px;
}
